<!doctype html>
<html lang="en">

<body>
   <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      {{ partial "header.html" . }}
      <main class="mdl-layout__content">
         <div class="content">
            <h3>{{ .Title }}</h3>
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <div class="post-date">
               <time>{{ with .Site.Params.dateFormat }}{{ $.Date.Format . }}{{ else }}{{ .Date.Format "02 Jan 2006" }}{{ end }}</time>
            </div>
            <hr /> {{ .Content }}
         </div>
         {{ partial "footer.html" . }}
      </main>
   </div>
</body>

</html>