<!doctype html>
<html lang="en">

<body>
   <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      {{ partial "header.html" . }}
      <main class="mdl-layout__content index-image">
         <div class="main-index-div">
            <div class="main-title"> Leonardo Laguna Ruiz, PhD </div>
            <hr />
            <div class="main-subtitle"> hardware/software engineer with a passion for music </div>
         </div>
      </main>
      {{ partial "footer.html" . }}
   </div>
   <script src="https://code.getmdl.io/1.2.1/material.min.js"></script>
</body>

</html>